<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1>position.css</h1>
            <div class="well _position" style="height:300px;">
                <div class="_position-top text-center well well-sm">
                    <code>._position-top</code>
                </div>
                <div class="_position-middle text-center well well-sm">
                    <code>._position-middle</code>
                </div>
                <div class="_position-bottom text-center well well-sm">
                    <code>._position-bottom</code>
                </div>
            </div>
            <div class="well _position" style="height:300px;">
                <div class="_position-top _position-center text-center well well-sm">
                    <code>._position-top ._position-center</code>
                </div>
                <div class="_position-middle _position-center text-center well well-sm">
                    <code>._position-middle ._position-center</code>
                </div>
                <div class="_position-middle _position-right text-center well well-sm">
                    <code>._position-middle ._position-right</code>
                </div>
                <div class="_position-middle _position-left text-center well well-sm">
                    <code>._position-middle .position-left</code>
                </div>
                <div class="_position-top _position-left text-center well well-sm">
                    <code>._position-top ._position-left</code>
                </div>
                <div class="_position-bottom _position-left text-center well well-sm">
                    <code>._position-bottom ._position-left</code>
                </div>
                <div class="_position-top _position-right text-center well well-sm">
                    <code>._position-top ._position-right</code>
                </div>
                <div class="_position-bottom _position-center text-center well well-sm">
                    <code>._position-bottom .position-center</code>
                </div>
                <div class="_position-bottom _position-right text-center well well-sm">
                    <code>._position-bottom-right</code>
                </div>
            </div>
        </div>
    </div>     
</div>
