<div class="container">
            <h1>align.css</h1>
    <div class="row">
        <div class="col-xs-4">
            <div class="well" style="height:200px;">
                <div class="_valign-top btn btn-primary btn-block">
                    TOP
                </div>
            </div>
            <code>._valign-top</code>
        </div>
        <div class="col-xs-4">
            <div class="well" style="height:200px;">
                <div class="_valign-middle btn btn-primary btn-block">
                    MIDDLE
                </div>
            </div>
            <code>._valign-middle</code>
        </div>
        <div class="col-xs-4">
            <div class="well" style="height:200px;">
                <div class="_valign-bottom btn btn-primary btn-block">
                    BOTTOM
                </div>
            </div>
            <code>._valign-bottom</code>
        </div>
    </div>     
</div>
