<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1>align.css</h1>
            <div class="well" style="height:200px;">
                <div class="_valign-middle text-center well well-sm">
                    <code>._valign-middle</code>
                </div>
            </div>
            <div class="well" style="height:200px;">
                <div class="_valign-top text-center well well-sm">
                    <code>._valign-top</code>
                </div>
            </div>
            <div class="well" style="height:200px;">
                <div class="_valign-bottom text-center well well-sm">
                    <code>._valign-bottom</code>
                </div>
            </div>
        </div>
    </div>     
</div>
