<div class="container">
    <div class="page-header"><h1>align.css</h1></div>
    <h2>._align</h2>
    <div class="row">
        <div class="col-xs-4">
            <div class="well" style="height:200px;">
                <div class="_align-left btn btn-primary btn-block">
                    Left
                </div>
            </div>
            <code>._align-left</code>
        </div>
        <div class="col-xs-4">
            <div class="well" style="height:200px;">
                <div class="_align-center btn btn-primary btn-block">
                    Center
                </div>
            </div>
            <code>._align-center</code>
        </div>
        <div class="col-xs-4">
            <div class="well" style="height:200px;">
                <div class="_align-right btn btn-primary btn-block">
                    Right
                </div>
            </div>
            <code>._align-right</code>
        </div>
    </div>
    <div class="clearfix"></div>
    <h2>._valign</h2>
    <div class="row">
        <div class="col-xs-4">
            <div class="well" style="height:200px;">
                <div class="_valign-top btn btn-primary btn-block">
                    Top
                </div>
            </div>
            <code>._valign-top</code>
        </div>
        <div class="col-xs-4">
            <div class="well" style="height:200px;">
                <div class="_valign-middle btn btn-primary btn-block">
                    Middle
                </div>
            </div>
            <code>._valign-middle</code>
        </div>
        <div class="col-xs-4">
            <div class="well" style="height:200px;">
                <div class="_valign-bottom btn btn-primary btn-block">
                    Bottom
                </div>
            </div>
            <code>._valign-bottom</code>
        </div>
    </div>
    

</div>
